@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #393939;
	background-color: #ffffff;
	background-image: url(i/bg-body.png);
	background-repeat: repeat;
	background-position: center;
}

address {
	display: block;
	margin-bottom: 0px;
	font-style: normal;
	line-height: 20px;
}

time {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*margin-left: .3em;
}

.required:after {
	display: inline;
	content: "*";
	color: red;
	padding-left: .3em;
}

.hidden input {
	display: none;
}

.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}

.container:before,.container:after {
	display: table;
	content: "";
	line-height: 0;
}

.container:after {
	clear: both;
}

.shadowed {
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .17);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .17);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .17);
	behavior: url(PIE.htc);
}

header {
	margin-top: 10px;
	margin-bottom: 17px;
	position: relative;
	line-height: 52px;
}

.head-wrapper {
	display: inline-block;
	padding: 0;
	vertical-align: bottom;
	*display: inline;
	*zoom: 1;
	*margin-left: .3em;
}

.head-block,.head-block-login {
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	line-height: 34px;
	display: inline-block;
	padding: 0 10px 0 12px;
	margin-right: 14px;
	color: #fff;
	background-color: #0099e5;
	background-image: url(i/bg-content.png),
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNDBiZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDA4OGNjIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: url(i/bg-content.png), -webkit-linear-gradient(top, bottom, #40bfff 0%, #0099e5 100%);
	background-image: url(i/bg-content.png), -moz-linear-gradient(top, bottom, #40bfff 0%, #0099e5 100%);
	background-image: url(i/bg-content.png), -o-linear-gradient(top, #40bfff 0%, #0099e5 100%);
	background-image: url(i/bg-content.png), -ms-linear-gradient(top, #40bfff 0%, #0099e5 100%);
	background-image: url(i/bg-content.png), linear-gradient(to bottom, #40bfff 0%, #0099e5 100%);
	-webkit-box-shadow: inset 0 2px 5px rgba(255, 255, 255, .5), inset 0 0 20px #fff;
	-moz-box-shadow: inset 0 2px 5px rgba(255, 255, 255, .5), inset 0 0 20px #fff;
	box-shadow: inset 0 2px 5px rgba(255, 255, 255, .5), inset 0 0 20px #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	vertical-align: bottom;
	position: relative;
	-pie-background: url(i/bg-content.png), linear-gradient(to bottom, #40bfff 0%, #0088cc 100%);
	behavior: url(PIE.htc);
	*display: inline;
	*zoom: 1;
	*margin-left: .3em;
}

.gSet {
	display: inline-block;
	line-height: 22px;
	width: 78px;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	-webkit-box-shadow: inset 0 2px 10px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 2px 10px rgba(0, 0, 0, .4);
	box-shadow: inset 0 2px 10px rgba(0, 0, 0, .4);
	background: #fff;
	margin: 0;
	padding: 0 5px 0 10px;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	width: 78px;
	behavior: url(PIE.htc);
	*display: inline;
	*zoom: 1;
	*margin-left: .3em;
}

.gSet:after {
	position: absolute;
	left: auto;
	right: 5px;
	top: 8px;
	width: 13px;
	height: 9px;
	cursor: pointer;
	background: url(i/sprite.png) -90px -180px no-repeat;
	content: "";
}

.gSet img {
	vertical-align: middle;
	cursor: pointer;
}

.gSet .cur {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 1;
	color: black;
	cursor: pointer;
	font-size: 10px;
	vertical-align: middle;
	*margin-left: .3em;
}

.setH {
	position: absolute;
	z-index: 150;
	padding: 8px;
	display: none;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 8px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 8px rgba(0, 0, 0, .3);
	line-height: 1.1;
	top: 45px;
	right: 0;
	behavior: url(PIE.htc);
}

.setH>.dat {
	position: relative;
	z-index: 70;
	min-height: 40px;
	min-width: 40px;
	padding: 5px 10px;
}

.setH .lngs {
	min-width: 120px;
	padding-bottom: 6px;
	margin-bottom: 8px;
	border-bottom: 1px dotted #4E4E4E;
}

.setH .dat:before {
	display: block;
	position: absolute;
	content: "";
	top: -19px;
	right: 10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 12.5px 14px 12.5px;
	border-color: transparent transparent #ddd transparent;
}

.setH .ttl {
	font-size: 12px;
	font-weight: 700;
	color: #333;
	white-space: nowrap;
	margin-bottom: 8px;
}

.setH .itm {
	position: relative;
	overflow: hidden;
	clear: both;
	margin: 0 0 7px 0;
}

.setH .txt {
	cursor: pointer;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	margin: 0 0 0 26px;
	white-space: nowrap;
	*margin-left: .3em;
}

.setH .ico {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 17px;
	padding-right: 6px;
	text-align: center;
}

.setH .txt span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #2479A4;
	font-weight: 700;
	border-bottom: 1px dashed #2479A4;
	*margin-left: .3em;
}

.curs .ico {
	top: 2px;
	font-weight: 700;
	font-size: 12px;
	color: #000;
}

.head-block a,.head-block-login a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #fff;
	margin: 0 4px 0 0;
	*margin-left: .3em;
}

.head-block a:hover,.head-block a:focus,.head-block-login a:hover,.head-block-login a:focus {
	text-decoration: none;
	color: #f9ca23;
}

.head-block a:before,.head-block-login a span:before {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 1px;
	height: 10px;
	border-left: 1px dotted #fff;
	margin: 0 4px 0 0;
	content: "";
	*margin-left: .3em;
}

.head-block a:first-child {
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(i/sprite.png) 0 0 no-repeat;
	margin-right: 5px;
	line-height: 16px;
}

.head-block :first-child:hover,.head-block :first-child:focus {
	background-position: -16px 0;
}

.head-block a:first-child:before {
	display: none;
}

.head-block-login a {
	margin-right: 14px;
	vertical-align: middle;
	line-height: 1.1em;
	height: 1.1em;
}

.head-block-login a.login:before {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	background: url(i/sprite.png) 0 -16px no-repeat;
	margin-right: 5px;
	margin-left: 2px;
	vertical-align: middle;
	content: "";
	*margin-left: .3em;
}

.head-block-login a.login:hover:before,.head-block-login a.login:focus:before {
	background-position: -16px -16px;
}

header .phone {
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: bottom;
	text-align: right;
	line-height: 1;
	height: 52px;
}

header .phone address {
	font-size: 22px;
	line-height: 34px;
	font-weight: bold;
	color: #ff4625;
	vertical-align: middle;
	padding-left: 18px;
	background: url(i/sprite.png) -87px -33px no-repeat;
}

header .phone b {
	color: #999;
}

header .phone>span {
	font-size: 12px;
	line-height: 18px;
}

header .phone i {
	font-style: normal;
	color: #25a5cf;
}

.central {
	background-color:#0088cc;
	background-image: url(i/bg-content.png),
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNDBiZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDA1ODg1Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
  background-image: url(i/bg-content.png), -webkit-gradient(linear, center top, center bottom, color-stop(0%, #40bfff), color-stop(100%, #005885));
	background-image: url(i/bg-content.png), -webkit-linear-gradient(top, #40bfff 0%, #005885 100%);
	background-image: url(i/bg-content.png), -moz-linear-gradient(top, #40bfff 0%, #005885 100%);
	background-image: url(i/bg-content.png), -ms-linear-gradient(top, #40bfff 0%, #005885 100%);
	background-image: url(i/bg-content.png), -o-linear-gradient(top, #40bfff 0%, #005885 100%);
	background-image: url(i/bg-content.png), linear-gradient(to bottom, #40bfff 0%, #005885 100%);
  -pie-background: linear-gradient(to bottom, #40bfff 0%, #005885 100%);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 40px rgba(255, 255, 255, .5), 0 1px 4px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 40px rgba(255, 255, 255, .5), 0 1px 4px rgba(0, 0, 0, .3);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 40px rgba(255, 255, 255, .5), 0 1px 4px rgba(0, 0, 0, .3);
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	-webkit-box-sizing: border-box;
	-miz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	overflow: hidden;
	*zoom:1;
}

.logo-img {
	margin: 7px 12px;
	behavior: url(PIE.htc);
}

.tabs {
	position: relative;
	margin: 0 18px;
	padding-top: 40px;
}

.tabs-wrap {
	position: relative;
	padding: 10px;
}

.tabs-item {
	display: none;
	left: 0;
	background-color: #ffffff;
	background-image: url(i/bg-body.png);
	background-repeat: repeat;
	background-position: 0 0;
	padding-bottom: 52px;
}

.tabs-item.active {
	display: block;
}

.tabs-item:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-botom-right-radius: 20px;
	-webkit-border-radius: 0 20px 20px 20px;
	-moz-border-radius: 0 20px 20px 20px;
	behavior: url(PIE.htc);
	-moz-border-radius: 0 20px 20px 20px;
}

.nav_wrapp {
	position: absolute;
	top: 0;
	left: 0;
}

.nav-tabs {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-tabs li {
	display: block;
	float: left;
	width: 140px;
	height: 47px;
	margin: 0 0 0 -60px;
	padding: 13px 0 0 30px;
	background: url(i/sprite.png) 20px -525px no-repeat;
	z-index: 0;
}

.nav-tabs .active {
	background: url(i/sprite.png) 0 -465px no-repeat;
}

.nav-tabs li:first-child {
	margin: 0;
	padding-left: 10px;
}

.nav-tabs li:first-child.active {
	background-position: 0 -401px;
}

.nav-tabs a {
	display:inline-block;
	*display:inline;
	vertical-align: top;
	padding-left: 26px;
	line-height: 24px;
	color: #FACA25;
	background: url(i/mtbico.png) 0 0 no-repeat;
	text-decoration: underline;
	*zoom:1;
}

.nav-tabs .active a:hover,.nav-tabs .active a:focus,.nav-tabs .active a {
	text-decoration: none;
	cursor: default;
}

#tabs-flight a{
	background-position: 0 -63px;
}

#tabs-flight a:hover,#tabs-flight a:focus {
	background-position: 0 -3px;
	color: #fff;
}

#tabs-flight.active a,#tabs-flight.active a:hover,#tabs-flight.active a:focus {
	background-position: 0 -33px;
	color: black;
}

#tabs-hotels a{
	background-position: 0 -153px;
}

#tabs-hotels a:hover,#tabs-hotels a:focus {
	background-position: 0 -93px;
	color: #fff;
}

#tabs-hotels.active a,#tabs-hotels.active a:hover,#tabs-hotels.active a:focus {
	background-position: 0 -123px;
	color: black;
}

#tabs-cars a{
	background-position: 0 -243px;
}

#tabs-cars a:hover,#tabs-cars a:focus {
	background-position: 0 -183px;
	color: #fff;
}

#tabs-cars.active a,#tabs-cars.active a:hover,#tabs-cars.active a:focus {
	background-position: 0 -213px;
	color: black;
}

.r-and-p,.book-tickets {
	padding: 0;
	-webkit-box-sizing: border-box;
	-miz-box-sizing: border-box;
	box-sizing: border-box;
}

.r-and-p,.round-block {
	background: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
	padding-top: 1px;
	overflow: hidden;
	*zoom: 1;
}

.r-and-p {
	float: left;
	margin-right: 12px;
	width: 265px;
}

.book-tickets {
	margin: 0 3px 0 0;
}

.r-and-p>section {
	
}

.r-and-p .rec-payment {
	margin: 14px 0 30px 0;
}

.r-and-p h1 {
	font-size: 16px;
	line-height: 24px;
	color: #056696;
	padding-left: 50px;
	margin: 0 0 12px 0;
	background: url(i/r-and-p.png) 15px -1px no-repeat;
}

.desination h1 {
	background-position: 15px -27px;
}

.passengers {
	-webkit-box-shadow: inset 0 5px #0979a8, inset 0 -8px 18px -10px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 5px #0979a8, inset 0 -8px 18px -10px rgba(0, 0, 0, .2);
	box-shadow: inset 0 5px #0979a8, inset 0 -8px 18px -10px rgba(0, 0, 0, .2);
	padding-top: 20px;
	padding-bottom: 4px;
	margin-bottom: 20px;
	behavior: url(PIE.htc);
}

.passengers h1 {
	background-position: 15px -53px;
}

.rec-wrap,.route div {
	padding: 0 20px;
}

.rec-wrap form {
	padding-top: 5px;
}

.rec-payment {
	margin-bottom: 22px;
	line-height: 27px;
}

.type1 {
	background-color: #ed6503;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmVmZTg4Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZWQ2NTAzIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fefe88), color-stop(100%, #ed6503));
	background-image: -webkit-linear-gradient(top, #fefe88 0%, #ed6503 100%);
	background-image: -moz-linear-gradient(top, #fefe88 0%, #ed6503 100%);
	background-image: -ms-linear-gradient(top, #fefe88 0%, #ed6503 100%);
	background-image: -o-linear-gradient(top, #fefe88 0%, #ed6503 100%);
	background-image: linear-gradient(to bottom, #fefe88 0%, #ed6503 100%);
	border: 1px solid transparent;
	background-origin: border-box;
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
	font-weight: bold;
	color: #49340a;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .4);
	-pie-background: linear-gradient(to bottom, #fefe88 0%, #ed6503 100%);
	behavior: url(PIE.htc);
	margin-top:0px;
	margin-bottom:2px;
}
.type1:hover, .type1:focus{
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmJhIi8+PHN0b3Agb2Zmc2V0PSIwLjYiIHN0b3AtY29sb3I9IiNmZmNkMjEiLz48c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiNmZmVjMDAiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZzEpIiAvPjwvc3ZnPg==);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ffffba), color-stop(60%, #ffcd21), color-stop(100%, #ffec00));
background-image: -webkit-linear-gradient(top, #ffffba 0%, #ffcd21 60%, #ffec00 100%);
background-image: -moz-linear-gradient(top, #ffffba 0%, #ffcd21 60%, #ffec00 100%);
background-image: -ms-linear-gradient(top, #ffffba 0%, #ffcd21 60%, #ffec00 100%);
background-image: -o-linear-gradient(top, #ffffba 0%, #ffcd21 60%, #ffec00 100%);
background-image: linear-gradient(to bottom, #ffffba 0%, #ffcd21 60%, #ffec00 100%);
}

.type1:active {
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(255, 255, 255, .7);
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(255, 255, 255, .7);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(255, 255, 255, .7);
	border-color: #5b8ba3;
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZlZmU4OCIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2VkNjUwMyIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #fefe88), color-stop(100%, #ed6503));
background-image: -webkit-linear-gradient(bottom, #fefe88 0%, #ed6503 100%);
background-image: -moz-linear-gradient(bottom, #fefe88 0%, #ed6503 100%);
background-image: -ms-linear-gradient(bottom, #fefe88 0%, #ed6503 100%);
background-image: -o-linear-gradient(bottom, #fefe88 0%, #ed6503 100%);
background-image: linear-gradient(to top, #fefe88 0%, #ed6503 100%);
	-pie-background: linear-gradient(to top, #fefe88 0%, #ed6503 100%);
	behavior: url(PIE.htc);
	margin-top:2px;
	margin-bottom:0px;
}

.people h2 {
	font-size: 12px;
	color: blue;
	text-transform: uppercase;
	margin: 4px 0 3px 0;
	line-height: 16px;
}

.bottom-shadow {
	position: relative;
}

.bottom-shadow:after {
	display: block;
	position: absolute;
	width: 100%;
	height: 8px;
	background: transparent;
	content: "";
	-webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
	box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
	bottom: -10px;
	behavior: url(PIE.htc);
}

.rec-payment article>div {
	position: relative;
	z-index: 1;
}

.rec-payment span,.rec-payment b,.rec-payment strong {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: #fff;
	z-index: 2;
	color: #666;
	*margin-left: .3em;
}

.rec-payment article {
	margin-bottom: 7px;
}

.rec-payment input {
	margin: 0 10px 0 0;
}

.rec-payment b {
	color: #2f2f2f;
}

.rec-payment .extra-payment b {
	text-transform: uppercase;
	color: #056696;
	font-size: 12px;
}

.rec-payment span,.rec-payment .extra-payment b {
	padding-right: .4em;
}

.rec-payment strong {
	float: right;
	color: #ff7e00;
	padding-left: .4em;
}

.rec-payment article>div:before {
	display: block;
	width: 100%;
	height: 14px;
	content: "";
	border-bottom: 1px dotted #666;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1
}

.rec-payment label {
	color: #ff7e00;
}

.result {
	font-size: 24px;
	line-height: 1.25;
}

.result b {
	color: #333333;
}

.route h2 {
	color: white;
	text-transform: uppercase;
	background-image: url(i/fligh_sprite.png),
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMGNhMGM0Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDk3YWE5Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: url(i/fligh_sprite.png), -webkit-gradient(linear, center top, center bottom, color-stop(0%, #0ca0c4), color-stop(100%, #097aa9));
	background-image: url(i/fligh_sprite.png), -webkit-linear-gradient(top, #0ca0c4 0%, #097aa9 100%);
	background-image: url(i/fligh_sprite.png), -moz-linear-gradient(top, #0ca0c4 0%, #097aa9 100%);
	background-image: url(i/fligh_sprite.png), -ms-linear-gradient(top, #0ca0c4 0%, #097aa9 100%);
	background-image: url(i/fligh_sprite.png), -o-linear-gradient(top, #0ca0c4 0%, #097aa9 100%);
	background-image: url(i/fligh_sprite.png), linear-gradient(to bottom, #0ca0c4 0%, #097aa9 100%);
	-pie-background: url(i/fligh_sprite.png), linear-gradient(to bottom, #0ca0c4 0%, #097aa9 100%);
	background-position: 20px 0, 0 0;
	background-repeat: no-repeat, repeat-x;
	padding: 0 0 0 40px;
	margin: 10px 0 3px 0;
	font-size: 14px;
	line-height: 25px;
	-webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
	box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
	behavior: url(PIE.htc);
}

.route .back h2 {
	background-position: 20px -25px, 0 0;
}

.route article {
	margin: 0;
}

.route h3 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	color: #056696;
	text-transform: uppercase;
	background: url(i/fligh_sprite.png) left -50px no-repeat;
	padding-left: 16px;
}

.route .arrive h3 {
	background-position: left -70px;
}

.route h3 i {
	font-weight: normal;
	font-style: normal;
	padding-right: 25px;
	padding-left: 5px;
	vertical-align: baseline;
	background-image: url(i/flags.png);
	background-repeat: no-repeat;
	background-position: right 15px;
}

.route h3.country-usa i {
	background-position: right -15px;
}

.route h3.country-mdl i {
	background-position: right -30px;
}

.route h3.country-rus i {
	background-position: right 0;
}

.info {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 18px;
	height: 16px;
	margin: 0 5px;
	cursor: pointer;
	background: url(i/sprite.png) 0 -67px no-repeat;
	vertical-align: bottom;
	*margin-left: .3em;
}

.info:hover,.info:focus {
	background-position: -18px -67px;
}

.route p,.route time {
	display: block;
	margin: 0;
	vertical-align: middle;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}

.route p img {
	margin-right: 5px;
}

.route div.wait {
	margin-right: 0;
	margin-left: 0;
	padding: 5px 20px;
	margin-bottom: 1px;
	background: #e5eaec;
	-webkit-box-shadow: inset 0 7px 7px -2px rgba(0, 0, 0, .2);
	-moz-box-shadow: inset 0 7px 7px -2px rgba(0, 0, 0, .2);
	box-shadow: inset 0 7px 7px -2px rgba(0, 0, 0, .2);
	color: #FF7E00;
	font-size: 13px;
	line-height: 1.25;
	behavior: url(PIE.htc);
}

.wait b,.wait.span {
	display: block;
}

.wait span {
	color: red;
	font-size: 12px;
}

.route .depart,.route .arrive {
	padding-top: 7px;
	padding-bottom: 7px;
}

.route .depart {
	background: #f2f3f4;
}

.passengers ul {
	list-style: none;
	margin: 0 15px;
	padding: 0;
}

.passengers li {
	padding-right: 10px;
	line-height: 1;
	margin: 8px 0;
	position: relative;
}

.passengers li b {
	display: block;
	color: #ff7e00;
}

li[class^="pass"]:after {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 18px;
	height: 18px;
	background: url(i/sprite.png) -15px 0 no-repeat;
	content: "";
}

li.pass-ok:after {
	background-position: 0 -85px;
}

li.pass-alert:after {
	background-position: 0 -103px;
}

/* ************ */
.header {
	font-size: 18px;
	color: #257aa5;
	line-height: 31px;
	vertical-align: middle;
	margin: 7px 0 18px 12px;
	padding-left: 38px;
	vertical-align: baseline;
	background: url(i/sprite.png) -69px -121px no-repeat;
}

.header small {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 16px;
	border: 0;
	border-left: 1px dotted;
	margin-left: 6px;
	padding-left: 6px;
	line-height: 16px;
	*margin-left: .3em;
}

.book-tickets input, .selectBox{
	box-sizing:border-box;
	height:30px;
}

.book-tickets label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.book-tickets input+label {
	text-transform: none;
}

.book-tickets h2 {
	font-size: 16px;
	line-height: 18px;
	margin: 12px 0 12px 8px;
	padding-left: 32px;
	background: url(i/sprite.png) -100px 0 no-repeat;
	color: #056696;
	position: relative;
	z-index: 1;
}

.book-tickets .book-passengers h2 {
	margin-bottom: 0;
}

.book-tickets h2:before {
	display: block;
	position: absolute;
	content: "";
	height: 8px;
	width: 595px;
	top: 0;
	border-bottom: 2px solid #056696;
	z-index: -1;
}

.book-passengers h2 {
	background-position: 0 -152px;
}

.book-insurance h2 {
	background-position: 0 -170px;
}

.book-recipient h2 {
	background-position: 0 -188px;
}

.book-insurance h2,.book-recipient h2 {
	
}

.book-tickets h2 b {
	padding-right: 8px;
	background: #fff;
}

.book-tickets h2 em {
	color: #0066cc;
	font-size: 14px;
	font-style: normal;
	border-bottom: 1px dotted;
	background: #fff;
	border-bottom: 1px dotted;
}

.book-tickets h2 strong {
	color: #ff7e00;
	border-bottom-color: transparent;
	background: #fff;
}

.book-tickets h2 span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	float: right;
	background: #fff;
	padding: 0 8px;
	*margin-left: .3em;
}

.book-passengers article {
	padding: 15px 0 0 0;
}

.control-group {
	margin-bottom: 10px;
}

.book-tickets .control-group {
	margin-left: 17px;
}

.book-passengers h3,.payment-details h3 {
	color: #ff7e00;
	font-size: 14px;
	line-height: 20px;
	margin: 0 17px;
}
.payment-details h3 {
	margin: 0 22px 10px 21px;
}

.book-tickets input,.book-tickets select {
	display: block;
}

.error,.error input,.error label,.error select {
	color: red !important;
}

.controls {
	display: block;
	float: left;
	margin-right: 10px;
}

.controls>span {
	display: block;
	font-size: 12px;
	line-height: 1;
}

.controls input{
	width:100%;
}

.controls[class*="name-"]{
  width:181px;
}

.controls[class*="date-"]{
  width: 121px;
}

.controls.sex{
	width:90px;
}

.controls.citizen label{
  display:block;
}

.controls.citizen{
  width: 251px;
}

.controls .selectBox{
  width:100%;
}

.controls.doc-number{
  width: 211px;
}

.controls label span {
	display: inline;
}

.controls.bonus-card{
	font-size:0;
	width:320px;
}
.controls.bonus-card label{
	vertical-align: middle;
}

 .controls.bonus-card .selectBox {
  width: 180px;
}

.controls.card-number{
	padding:0;
	font-size:0;
}

.controls.card-number label{
	width:93px;
	vertical-align: middle;
}	

.controls.card-number input {
  width: 180px;
}

.bonus-label{
	width:101px;
}

.control-group.line3 select,.control-group.line3 input {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	*margin-left: .3em;
}

.last {
	margin-right: 0;
}

input[type="checkbox"],input[type="radio"] {
	display: none!important;
}

input[type="checkbox"]+label,input[type="radio"]+label {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	line-height: 1;
	height: 15px;
	margin: 0 !important;
	cursor: pointer;
	vertical-align: middle;
	color: #444;
	*margin-left: .3em;
}

.radio-group label {
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
}

.radio-group input+label {
}

input[type="checkbox"]+label::before,input[type="radio"]+label::before {
	content: "";
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 15px;
	width: 15px;
	margin: 0 5px 0 0;
	background-image: url(i/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	*margin-left: .3em;
}

input[type="checkbox"]+label::before {
	background-position: -15px -206px;
}

input[type="radio"]+label::before {
	background-position: -45px -206px;
}

input[type="checkbox"]:checked+label::before {
	background-position: 0 -206px;
}

input[type="radio"]:checked+label::before {
	background-position: -30px -206px;
}

.error input[type="checkbox"]+label::before {
	background-position: -15px -206px;
}

.error input[type="radio"]+label::before {
	background-position: -75px -206px;
}

.error input[type="checkbox"]:checked+label::before {
	background-position: 0 -206px;
}

.error input[type="radio"]:checked+label::before {
	background-position: -60px -206px;
}

.radio-group {
	height: 20px;
	padding: 5px 0;
}

.insurance-description {
	float: left;
	width: 485px;
	margin-left: 17px;
	margin-bottom:10px;
	*zoom:1;
}
.insurance-price {
  float: left;
  width:140px;
	margin: 0;
  font-size: 13px;
  line-height: 19px;
  *zoom:1;
}

.insurance-description ul {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
}

.insurance-description ul li {
	padding-left: 20px;
	position: relative;
	font-size: 13px;
	line-height: 24px;
}

.insurance-description ul li:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 20px;
	background: url(i/sprite.png) 0 -33px no-repeat;
	content: "";
}

.insurance-description input+label {
	font-size: 12px;
	text-transform: uppercase;
}

.book-insurance {
	padding-bottom: 20px;
}

.book-insurance a {
	text-decoration: underline;
	margin-bottom: 10px;
}

.book-insurance h3 {
	font-size: 12px;
	line-height: 20px;
	margin: 10px 17px;
	text-transform: uppercase;
}

.book-tickets p {
	margin: 0 17px;
	line-height: 18px;
}

.insurance-price span,.insurance-price .price-value,.insurance-price a {
	display: block;
}

.price-value {
	color: #ff7e00;
	font-size: 24px;
	line-height: 1;
	vertical-align: middle;
}

.insurance-price .price-value {
	margin-bottom: 20px;
}

.receipt .rec-type label {
	padding-right: 60px;
}

.rec-contacts .controls{
	width: 191px;
}

.payment {
	background: #fae7d4;
	padding-bottom: 15px;
	-webkit-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	overflow: hidden;
	*zoom: 1;
	behavior: url(PIE.htc);
}

.payment-type{
	margin-top:5px;
}

.payment-details {
	position: relative;
}

[class^="pdetails-"] {
	display: none;
}

.payment-details .active {
	display: block;
}

.pdetails-visa .control-group, .pdetails-ib .control-group{
	margin:0 7px 10px 7px;
}
.payment-type .btn {
	display: block;
	float:left;
	width: 115px;
	height: 18px;
	padding: 10px 0 10px 43px;
	margin-right: 6px;
	background-color: #fff;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjExIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMikiLz48c3RvcCBvZmZzZXQ9IjAuODkiIHN0b3AtY29sb3I9InJnYmEoMCwgMCwgMCwgMC4yKSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(11%, rgba(255, 255, 255, 0.2)), color-stop(89%, rgba(0, 0, 0, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 11%, rgba(0, 0, 0, 0.2) 89%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 11%, rgba(0, 0, 0, 0.2) 89%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 11%, rgba(0, 0, 0, 0.2) 89%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 11%, rgba(0, 0, 0, 0.2) 89%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 11%, rgba(0, 0, 0, 0.2) 89%);
	-pie-background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 11%, rgba(0, 0, 0, .2) 89%);
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #eed0b4;
	-webkit-box-shadow: inset 0 2px 32px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 2px 32px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .4);
	box-shadow: inset 0 2px 32px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .4);
	behavior: url(PIE.htc);
	position: relative;
	font-weight: bold;
	position: relative;
	*margin-left: .3em;
}

.payment-type .btn:hover,.payment-type .btn:hover {
	background-color: #fff;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjExIiBzdG9wLWNvbG9yPSJyZ2JhKDAsIDAsIDAsIDAuMikiLz48c3RvcCBvZmZzZXQ9IjAuODkiIHN0b3AtY29sb3I9InJnYmEoMjU1LCAyNTUsIDI1NSwgMC4yKSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(11%, rgba(0, 0, 0, 0.2)), color-stop(89%, rgba(255, 255, 255, 0.2)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	-pie-background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 11%, rgba(255, 255, 255, 0.2) 89%);
	-webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9);
	-moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9);
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9);
	behavior: url(PIE.htc);
}

.payment-type .btn:active {
	top: 1px;
}

.payment-type .btn:before {
	display: block;
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 8px;
	top: 13px;
	background: url(i/sprite.png) -45px -206px no-repeat;
}

.payment-type .btn.active:before {
	background-position: -30px -206px;
}

.payment-type .btn:after {
	display: block;
	position: absolute;
	left: 28px;
	top: 10px;
	content: "";
	width: 25px;
	height: 23px;
	background-image: url(i/sprite.png);
	background-repeat: no-repeat;
}

.payment-type .btn.payment-visa:after {
	background-position: -35px -68px;
}

.payment-type .btn.payment-ib:after {
	background-position: -35px -92px;
}

.payment-type .btn.payment-office:after {
	background-position: -35px -114px;
}

.payment-type .btn.payment-hand:after {
	background-position: -35px -137px;
}

.payment-type .btn span {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 14px;
	color: #257aa5;
	border-bottom: 1px dotted;
	line-height: 20px;
	height: 18px;
	position: relative;
	letter-spacing: -0.1em;
	*margin-left: .3em;
}

.payment-internet,.payment-cash {
	padding: 10px 0 14px 0;
	margin: 0 22px 0 21px;
	line-height: 40px;
}

.payment-type b {
	display: block;
	float:left;
	font-size: 14px;
	line-height: 40px;
	height: 40px;
	width: 230px;
	vertical-align: middle;
	overflow:hidden;
	word-wrap:normal;
	*zoom:1;
}
.payment-type b:before {
	display:inline-block;
	height:15px;
	width:17px;
	content:"";
  vertical-align: middle;
  background: url(i/sprite.png) -87px 1em no-repeat;
}

.payment-internet b:before {
  background-position: -87px 0px;
}

.payment-cash b:before {
  background-position: -87px -15px;
}

.payment-internet {
	border-bottom: 1px solid #fff;
}

.payment-cash {
	border-top: 1px solid #999;
}

.pdetails-visa .type1 {
	float: right;
}

.back-card,.face-card {
	width: 303px;
	height: 137px;
	padding: 55px 0 0 9px;
	background: url(i/card_bg.png) 0 0 no-repeat;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: top;
	*margin-left: .3em;
}

.back-card {
	background-position: 0 -193px;
  padding-right: 9px;
  padding-left: 0;
}

.face-card {
	
}

.face-card .controls,.back-card .controls {
  float: none;
  margin-bottom: 9px;
  margin-right:0;
}

.card-num label {
	display: block;
}

.face-card input {
	width: 65px;
	display: block;
	margin-right:10px;
	float:left;
	*zoom: 1;
}
.face-card input.last{
	margin-right:0;
}

.payment-details label {
	font-size: 14px;
}

.payment-details .card-num label {
	display: block;
}

.payment-details .info {
	vertical-align: top;
}

.card-valid label {
	float:left;
	width: 48px;
	margin-bottom: 0;
	vertical-align: middle;
}
.card-valid input {
	width:90px;
}
.card-holder input {
	width: 290px;
	margin:0;
}

.back-card .card-cvv {
	margin-left: 210px;
}
.back-card .card-cvv label,.back-card .card-cvv input{
	display:block;
	float:right;
}

.back-card .card-value {
	margin-left: 115px;
	text-align: right;
}

.back-card .card-value label {
	width: 68px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	*margin-left: .3em;
}

.back-card .card-value .selectBox {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 66px;
	vertical-align: middle;
	*margin-left: .3em;
	text-align: left;
}

.card-cvv input{
	width: 52px;
}

[class^="pdetails-"] {
	padding: 7px 0;
}

.pdetails-office p{
	margin:0;
	display:block;
	margin-bottom:20px;
	
}
.pdetails-office .control-group{
	width:240px;
	float:left;
}
.pdetails-office .selectBox{
	width:188px;
}
.pdetails-office .controls{
	margin-bottom:10px;
}
.pdetails-office label,.pdetails .selectBox{
	display:block;
	float:none;
}

#maps {
	float: right;
	padding: 0 17px 15px 0px;
}

.pdetails-hand h4 {
	font-size:15px;
	margin:0 39px 10px 22px;
}

.pdetails-hand label {
	font-size: 12px;
}

.pdetails-hand .controls{
}

.control-group.addr .controls{
	width: 191px;
}

.control-group .controls.build{
	width: 70px;
}

.control-group .controls.office{
	width: 110px;
}

.control-group .controls.ph-num{
	width: 230px;
}

.pay-confirm {
	width: 640px;
	height: 128px;
	margin-left: 310px;
	position: relative;
}

.tr-check {
	background: url(i/bg-check.png) 0 0 no-repeat;
	width: 608px;
	height: 96px;
	position: absolute;
	top: 12px;
	left: 6px;
	padding: 15px 10px;
	z-index: 5;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	position: relative;
}

.tr-check p {
	padding-left: 60px;
	margin-left: 25px;
	background: url(i/sprite.png) -75px -221px no-repeat;
}

.pay-confirm:before,.pay-confirm:after {
	position: absolute;
	display: block;
	content: "";
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 2px solid #c8c8c8;
	-webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, .8), inset 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(255, 255, 255, .8), inset 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(255, 255, 255, .8), inset 0 1px 2px rgba(0, 0, 0, .2);
	behavior: url(PIE.htc);
	z-index: 1;
}

.pay-confirm:before {
	background: rgba(255, 255, 255, .4);
	width: 640px;
	height: 10px;
	top: 5px;
	left: 0;
}

.pay-confirm:after {
	width: 634px;
	height: 2px;
	top: 9px;
	left: 3px;;
}

.pay-check {
	text-align: right;
	position: absolute;
	bottom: 20px;
	right: 10px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	background-color: #fff;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwLjAzIiBzdG9wLWNvbG9yPSJyZ2JhKDI1NSwgMjU1LCAyNTUsIDAuMSkiLz48c3RvcCBvZmZzZXQ9IjAuOTciIHN0b3AtY29sb3I9InJnYmEoMCwgMCwgMCwgMC4xKSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(3%, rgba(255, 255, 255, 0.1)), color-stop(97%, rgba(0, 0, 0, 0.1)));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	-pie-background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 3%, rgba(0, 0, 0, 0.1) 97%);
	behavior: url(PIE.htc);
}

.pay-summa {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 0 6px;
	width: 262px;
	line-height: 44px;
	*margin-left: .3em;
}

.pay-summa a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #873b00;
	font-size: 22px;
	font-weight: bold;
	line-height: 34px;
	vertical-align: middle;
	text-align: center;
	position: relative;
	width: 70px;
	padding-left: 55px;
	margin-left: 20px;
	margin-top:1px;
	margin-bottom:3px;
	border: 1px solid transparent;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZiNDAwIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZmYzMzAwIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ffb400), color-stop(100%, #ff3300));
	background-image: -webkit-linear-gradient(top, #ffb400 0%, #ff3300 100%);
	background-image: -moz-linear-gradient(top, #ffb400 0%, #ff3300 100%);
	background-image: -ms-linear-gradient(top, #ffb400 0%, #ff3300 100%);
	background-image: -o-linear-gradient(top, #ffb400 0%, #ff3300 100%);
	background-image: linear-gradient(to bottom, #ffb400 0%, #ff3300 100%);
	-pie-background: linear-gradient(to bottom, #ffb400 0%, #ff3300 100%);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .5);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 1px 2px rgba(255, 255, 255, .5);
	text-shadow: 0 1px rgba(255, 255, 255, .5);
	background-origin: border-box;
	border: 1px solid transparent;
	behavior: url(PIE.htc);
}

.pay-summa a:before {
	display: block;
	position: absolute;
	top: 4px;
	left: 0;
	width: 53px;
	height: 24px;
	content: "";
	background: url(i/sprite.png) -60px -152px no-repeat;
	border-right: 2px dotted #8f3d00;
}

.pay-summa a:focus,.pay-summa a:hover {
	text-decoration: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmYjkyIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjZmVhMjI4Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #fffb92), color-stop(100%, #fea228));
	background-image: -webkit-linear-gradient(top, #fffb92 0%, #fea228 100%);
	background-image: -moz-linear-gradient(top, #fffb92 0%, #fea228 100%);
	background-image: -ms-linear-gradient(top, #fffb92 0%, #fea228 100%);
	background-image: -o-linear-gradient(top, #fffb92 0%, #fea228 100%);
	background-image: linear-gradient(to bottom, #fffb92 0%, #fea228 100%);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
}

.pay-summa a:active {
	border-color: #e68a33;
	-webkit-box-shadow: 0 0 10px #ff6000, inset 0 1px 3px rgba(0,0,0,.3),0 1px 2px rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 0 10px #ff6000, inset 0 1px 3px rgba(0,0,0,.3),0 1px 2px rgba(255, 255, 255, .5);
	box-shadow:  0 0 10px #ff6000, inset 0 1px 3px rgba(0,0,0,.3),0 1px 2px rgba(255, 255, 255, .5);
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2ZmYjQwMCIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmMzMwMCIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
	background-image : -webkit-gradient( linear, center bottom, center top, color-stop( 0%, #ffb400), color-stop( 100%, #ff3300));
	background-image : -webkit-linear-gradient( bottom, #ffb400 0%, #ff3300	100%);
	background-image : -moz-linear-gradient( bottom, #ffb400 0%, #ff3300 100%);
	background-image : -ms-linear-gradient( bottom, #ffb400 0%, #ff3300 100%);
	background-image : -o-linear-gradient(bottom, #ffb400 0%, #ff3300 100%);
	background-image : linear-gradient( to top, #ffb400 0%, #ff3300 100%);
	-pie-background: linear-gradient(to top, #ffb400 0%, #ff3300 100%);
	behavior: url(PIE.htc);
	margin-top:3px;
	margin-bottom:1px;
}

.pay-summa span {
	vertical-align: middle;
}

.easy-step {
	color: #fff;
	padding: 2px 40px 26px 40px;
}

.easy-step h1 {
	font-size: 20px;
	line-height: 1.25;
}

.easy-list {
	margin: 0;
	padding: 0;
	list-style: none;
	counter-reset: item;
}

.easy-list li {
	display: block;
	position: relative;
	float: left;
	width: 114px;
	padding-right: 75px;
	margin-right: 48px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

.easy-list li.fin {
	color: #fcd404;
}

.easy-list li.last {
	margin-right: 0;
}

.easy-list h2 {
	margin: 0 0 10px 0;
	font-size: 20px;
	line-height: 1.25;
}

.easy-list li h2:before {
	content: counter(item) '. ';
	counter-increment: item;
	display: inline;
}

.easy-list li:after {
	display: block;
	position: absolute;
	content: "";
	width: 75px;
	height: 75px;
	top: 0;
	right: 0;
	background-image: url(i/easy.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

li.easy-nav:after {
	background-position: 0 0;
}

li.easy-res:after {
	background-position: -75px 0;
}

li.easy-pay:after {
	background-position: -150px 0;
}

li.easy-check:after {
	background-position: -225px 0;
}

li.easy-nav.fin:after {
	background-position: 0 -75px;
}

li.easy-res.fin:after {
	background-position: -75px -75px;
}

li.easy-pay.fin:after {
	background-position: -150px -75px;
}

li.easy-check.fin:after {
	background-position: -225px -75px;
}

.border-left {
	padding-left: 8px;
	margin-left: 8px;
	border: 0;
	border-left: 1px dotted;
}

.footer-first,.footer-second {
	float: left;
	font-size: 13px;
	margin-bottom: 25px;
}

.footer-first {
	width: 380px;
	padding: 0 20px;
}

.footer-second {
	width: 540px;
	padding-left: 20px;
}

.footer-first label {
	font-size: 12px;
}

.copyright p {
	margin: 20px 0;
	line-height: 15px;
}

.copy-logo {
	line-height: 1.2;
}

.copy-logo img {
	width: 114px;
	height: 20px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	*margin-left: .3em;
}

.footer-second h1 {
	font-size: 13px;
	line-height: 1.2;
	margin: 0 0 20px 0;
	padding: 0;
}

.footer-second h1 strong {
	font-size: 15px;
	color: #257aa5;
}

.anchors {
	margin-bottom: 30px;
	text-align: justify;
}

.anchors a {
	margin-right: 10px;
	white-space: nowrap;
	text-decoration: underline;
	line-height: 1;
	color: #257aa5;
}

.anchors a:hover,.anchors a:focus {
	text-decoration: none;
	color: #257aa5;
}

.contacts {
	font-size: 15px;
	line-height: 20px;
	vertical-align: middle;
}

.contacts address {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 5px;
	padding-left: 10px;
	background: url(i/sprite.png) -80px -380px no-repeat;
	*margin-left: .3em;
}

.contacts a {
	padding-left: 15px;
	margin-right: 15px;
	background-image: url(i/sprite.png);
	background-repeat: no-repeat;
}

#webchat {
	background-position: -80px -300px;
}

#webcal {
	background-position: -80px -320px;
}

#skype {
	background-position: -80px -340px;
}

#feedback {
	background-position: -80px -360px;
}

.search {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding: 2px 0;
	margin: 0;
	margin-left: 10px;
	font-size: 14px;
	line-height: 24px;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 40px;
	border: 0;
	*margin-left: .3em;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .7);
	-webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2), 0 1px 5px rgba(255, 255, 255, .8), inset 0 1px 5px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, .2), 0 1px 5px rgba(255, 255, 255, .8), inset 0 1px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 -1px 5px rgba(0, 0, 0, .2), 0 1px 5px rgba(255, 255, 255, .8), inset 0 1px 5px rgba(0, 0, 0, .3);
	behavior: url(PIE.htc);
	*margin-left: .3em;
}

.search input {
	border: 0;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 170px;
	transition: none;
	padding: 2px 0;
	margin: 0 10px;
	vertical-align: baseline;
	behavior: url(PIE.htc);
}

.search input:focus,.search input:hover,.search input:active {
	outline: none;
	border: 0;
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	behavior: url(PIE.htc);
}

.search .btn {
	text-transform: lowercase;
	text-shadow: 0 0 2px rgba(255, 255, 255, .8);
	font-weight: bold;
	height: 22px;
	color: black;
	border: none;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	background-color: #174f9e;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNGVkM2UzIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMTc0ZjllIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #4ed3e3), color-stop(100%, #174f9e));
	background-image: -webkit-linear-gradient(top, #4ed3e3 0%, #174f9e 100%);
	background-image: -moz-linear-gradient(top, #4ed3e3 0%, #174f9e 100%);
	background-image: -ms-linear-gradient(top, #4ed3e3 0%, #174f9e 100%);
	background-image: -o-linear-gradient(top, #4ed3e3 0%, #174f9e 100%);
	background-image: linear-gradient(to bottom, #4ed3e3 0%, #174f9e 100%);
	-webkit-box-shadow: inset 0 1px 2px #fff, 0 1px 1px rgba(0, 0, 0, .3);
	-moz-box-shadow: inset 0 1px 2px #fff, 0 1px 1px rgba(0, 0, 0, .3);
	box-shadow: inset 0 1px 2px #fff, 0 1px 1px rgba(0, 0, 0, .3);
	padding: 2px 10px;
	margin: 2px 8px;
	vertical-align: baseline;
}
.search .btn:hover,.search .btn:focus {
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjYTlmNWY3Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMjg4M2JkIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #a9f5f7), color-stop(100%, #2883bd));
background-image: -webkit-linear-gradient(top, #a9f5f7 0%, #2883bd 100%);
background-image: -moz-linear-gradient(top, #a9f5f7 0%, #2883bd 100%);
background-image: -ms-linear-gradient(top, #a9f5f7 0%, #2883bd 100%);
background-image: -o-linear-gradient(top, #a9f5f7 0%, #2883bd 100%);
background-image: linear-gradient(to bottom, #a9f5f7 0%, #2883bd 100%);

}
.search .btn:active {
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMTAwJSIgeTE9IjEwMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iIzRlZDNlMyIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzE3NGY5ZSIvPjwvbGluZWFyR3JhZGllbnQ+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNnMSkiIC8+PC9zdmc+);
background-image: -webkit-gradient(linear, center bottom, center top, color-stop(0%, #4ed3e3), color-stop(100%, #174f9e));
background-image: -webkit-linear-gradient(bottom, #4ed3e3 0%, #174f9e 100%);
background-image: -moz-linear-gradient(bottom, #4ed3e3 0%, #174f9e 100%);
background-image: -ms-linear-gradient(bottom, #4ed3e3 0%, #174f9e 100%);
background-image: -o-linear-gradient(bottom, #4ed3e3 0%, #174f9e 100%);
background-image: linear-gradient(to top, #4ed3e3 0%, #174f9e 100%);
	-webkit-box-shadow: 0 0 8px #174f9e;
	-moz-box-shadow: 0 0 8px #174f9e;
	box-shadow: 0 0 8px #174f9e;
	margin-top:4px;
	margin-bottom:0px;
}

.set {
	position: absolute;
	top: 40px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.set .y {
	background: url("i/setwbr.png") no-repeat;
}

.set .h {
	background: url("i/setwbv.png") repeat-x;
}

.set .v {
	background: url("i/setwbh.png") repeat-y;
}

.set .ccc {
	background: url("i/setwbg.png") rgba(0, 0, 0, 0) 0 0;
}

.set div {
	position: absolute;
}

.set .tl {
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-position: 0 0 !important;
}

.set .tc {
	top: 0;
	right: 20px;
	left: 20px;
	height: 20px;
	background-position: 0 -21px !important;
}

.set .tr {
	top: 0;
	right: 0;
	width: 20px;
	height: 20px;
	background-position: -20px 0 !important;
}

.set .rc {
	top: 20px;
	right: 0;
	bottom: 20px;
	width: 20px;
	background-position: 0 0 !important;
}

.set .rb {
	right: 0;
	bottom: 0;
	width: 20px;
	height: 20px;
	background-position: -20px -20px !important;
}

.set .bc {
	right: 20px;
	bottom: 0;
	left: 20px;
	height: 20px;
	background-position: 0 0 !important;
}

.set .bl {
	bottom: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-position: 0 -20px !important;
}

.set .lc {
	bottom: 20px;
	left: 0;
	top: 20px;
	width: 20px;
	background-position: -20px 0 !important;
}

.set .ccc {
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
}
