@CHARSET "UTF-8";

body {
	margin: 0;
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #393939;
	background-color: #ffffff;
	background-image: url(i/bg-body.png);
	background-repeat: repeat;
	background-position: center;
}

address {
	display: block;
	margin-bottom: 0px;
	font-style: normal;
	line-height: 20px;
}

time {
	display: inline-block;
}

.required:after {
	display: inline;
	content: "*";
	color: red;
	padding-left: .3em;
}

.hidden input {
	display: none;
}

.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	*zoom: 1;
}

.container:before,.container:after {
	display: table;
	content: "";
	line-height: 0;
}

.container:after {
	clear: both;
}

.shadowed {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .17);
}

header {
	margin-top: 10px;
	margin-bottom: 17px;
	position: relative;
}

.head-wrapper {
	height: 52px;
	float: left;
	line-height: 52px;
	vertical-align: bottom;
}

.head-block,.head-block-login {
	border-radius: 17px;
	height: 34px;
	display: inline-block;
	line-height: 34px;
	vertical-align: middle;
	padding: 0 10px 0 12px;
	margin-right: 14px;
	color: #fff;
	background-image: url(i/bg-content.png), linear-gradient(to bottom, #40bfff 0%, #0088cc 100%);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .5), inset 0 0 8px #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	vertical-align: bottom;
}

.head-block a,.head-block-login a {
	display: inline-block;
	color: #fff;
	margin: 0 4px 0 0;
}

.head-block a:hover,.head-block a:focus,.head-block-login a:hover,.head-block-login a:focus {
	text-decoration: none;
	color: #f9ca23;
}

.head-block a:before,.head-block-login a span:before {
	display: inline-block;
	width: 1px;
	height: 10px;
	border-left: 1px dotted #fff;
	margin: 0 4px 0 0;
	content: "";
}

.head-block a:first-child {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
	background: url(i/sprite.png) 0 0 no-repeat;
	margin-right: 5px;
}

.head-block :first-child:hover,.head-block :first-child:focus {
	background-position: -16px 0;
}

.head-block a:first-child:before {
	display: none;
}

.head-block-login a {
	margin-right: 14px;
}

.head-block-login a.login:before {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(i/sprite.png) 0 -16px no-repeat;
	margin-right: 5px;
	margin-left: 2px;
	vertical-align: text-bottom;
	content: "";
}

.head-block-login a.login:hover:before,.head-block-login a.login:focus:before {
	background-position: -16px -16px;
}

.lng-curr {
	display: inline-block;
	height: 22px;
	width: 93px;
	border-radius: 11px;
	box-shadow: inset 0 2px 10px rgba(0, 0, 0, .4);
	background: #fff;
	vertical-align: top;
	margin: 6px 0;
}

header .phone {
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: bottom;
	text-align: right;
	line-height: 1;
	height: 52px;
}

header .phone address {
	font-size: 22px;
	line-height: 34px;
	font-weight: bold;
	color: #ff4625;
	vertical-align: middle;
	padding-left: 18px;
	background: url(i/sprite.png) -87px -33px no-repeat;
}

header .phone b {
	color: #999;
}

header .phone>span {
	font-size: 12px;
	line-height: 18px;
}

header .phone i {
	font-style: normal;
	color: #25a5cf;
}

.central {
	background: url(i/bg-content.png), linear-gradient(to bottom, #40bfff 0%, #0088cc 100%);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 40px #fff, 0 1px 5px rgba(0, 0, 0, .3);
	border-radius: 17px;
	-webkit-box-sizing: border-box;
	-miz-box-sizing: border-box;
	box-sizing: border-box;
}

.logo-img {
	margin: 7px 12px;
}

dl.tabs {
	margin: 0 20px;
}

dl.tabs>dt,dl.tabs>dd {
	display: none;
}

dl.tabs>dd {
	background-color: #ffffff;
	background-image: url(i/bg-body.png);
	background-repeat: repeat;
	background-position: center;
	border-radius: 0 20px 20px 20px;
	box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, .4), inset 0 1px 15px rgba(0, 0, 0, .4), 0 1px 0 rgba(0, 222, 255, .2);
}

dl.tabs>dt.active,dl.tabs>dt.active+dd {
	display: block;
}

.r-and-p,.book-tickets {
	padding: 0;
	float: left;
	-webkit-box-sizing: border-box;
	-miz-box-sizing: border-box;
	box-sizing: border-box;
}

.r-and-p,.round-block {
	background: #fff;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 10px;
	*zoom: 1;
}

.r-and-p {
	margin: 12px 5px 10px 10px;
	width: 265px;
}

.r-and-p>section {
	
}

.r-and-p .rec-payment {
	margin: 14px 0 20px 0;
}

.r-and-p h1 {
	font-size: 16px;
	line-height: 24px;
	color: #056696;
	padding-left: 50px;
	margin: 0 0 12px 0;
	background: url(i/r-and-p.png) 15px 0 no-repeat;
}

.desination h1 {
	background-position: 15px -27px;
}

.passengers {
	box-shadow: inset 0 5px #0979a8, inset 0 -8px 18px -10px rgba(0, 0, 0, .2);
	padding-top: 20px;
	padding-bottom: 4px;
	margin-bottom: 20px;
}

.passengers h1 {
	background-position: 15px -53px;
}

.rec-wrap,.route div {
	padding: 0 20px;
}

.rec-wrap form {
	padding-top: 5px;
}

.rec-payment {
	margin-bottom: 22px;
	line-height: 27px;
}

.book-tickets {
	margin: 12px 10px 10px 5px;
	width: 645px;
}

.type1 {
	background: linear-gradient(to bottom, #fefe88, #ed6503) 0 0 repeat-x;
	border: 1px solid transparent;
	background-origin: border-box; box-shadow : inset 0 2px 0 rgba( 255, 255, 255, .3), inset 0 0 10px rgba( 255, 255, 255, .5), 0 1px 3px rgba( 0, 0, 0, .3);
	font-weight: bold;
	color: #49340a;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .4);
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(0, 0, 0, .3);
}

.type1:active {
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, .3), inset 0 0 10px rgba(255, 255, 255, .5), 0 1px 3px rgba(255, 255, 255, .7);
	border-color: #5b8ba3;
	background: linear-gradient(to bottom, #fff, #80807f) 0 0 repeat-x;
}

.people h2 {
	font-size: 12px;
	color: blue;
	text-transform: uppercase;
	margin: 4px 0 3px 0;
	line-height: 16px;
}

.bottom-shadow {
	position: relative;
	padding-bottom: 22px;
}

.bottom-shadow:after {
	display: block;
	position: absolute;
	width: 100%;
	height: 8px;
	background: transparent;
	content: "";
	box-shadow: 0 8px 8px rgba(0, 0, 0, .12);
	bottom: 0;
}

.rec-payment article>div {
	position: relative;
	z-index: 1;
}

.rec-payment span,.rec-payment b,.rec-payment strong {
	display: inline-block;
	background: #fff;
	z-index: 2;
	color: #666;
}

.rec-payment article {
	margin-bottom: 7px;
}

.rec-payment input {
	margin: 0 10px 0 0;
}

.rec-payment b {
	color: #2f2f2f;
}

.rec-payment .extra-payment b {
	text-transform: uppercase;
	color: #056696;
	font-size: 12px;
}

.rec-payment span,.rec-payment .extra-payment b {
	padding-right: .4em;
}

.rec-payment strong {
	float: right;
	color: #ff7e00;
	padding-left: .4em;
}

.rec-payment article>div:before {
	display: block;
	width: 100%;
	height: 14px;
	content: "";
	border-bottom: 1px dotted #666;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1
}

.rec-payment label {
	color: #ff7e00;
}

.result {
	font-size: 24px;
	line-height: 1.25;
}

.result b {
	color: #333333;
}

.route h2 {
	color: white;
	text-transform: uppercase;
	background-image: url(i/fligh_sprite.png), linear-gradient(to bottom, #0ca0c4, #097aa9);
	background-position: 20px 0, 0 0;
	background-repeat: no-repeat, repeat-x;
	padding: 0 0 0 40px;
	margin: 10px 0 3px 0;
	font-size: 14px;
	line-height: 25px;
	box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
}

.route .back h2 {
	background-position: 20px -25px, 0 0;
}

.route article {
	margin: 0;
}

.route h3 {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
	color: #056696;
	text-transform: uppercase;
	background: url(i/fligh_sprite.png) left -50px no-repeat;
	padding-left: 16px;
}

.route .arrive h3 {
	background-position: left -70px;
}

.route h3 i {
	font-weight: normal;
	font-style: normal;
	padding-right: 25px;
	padding-left: 5px;
	vertical-align: baseline;
	background-image: url(i/flags.png);
	background-repeat: no-repeat;
	background-position: right 15px;
}

.route h3.country-usa i {
	background-position: right -15px;
}

.route h3.country-mdl i {
	background-position: right -30px;
}

.route h3.country-rus i {
	background-position: right 0;
}

.info {
	display: inline-block;
	width: 18px;
	height: 16px;
	margin: 0 5px;
	cursor: pointer;
	background: url(i/sprite.png) 0 -67px no-repeat;
	vertical-align: top;
}

.info:hover,.info:focus {
	background-position: -18px -67px;
}

.route p,.route time {
	display: block;
	margin: 0;
	vertical-align: middle;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}

.route p img {
	margin-right: 5px;
}

.route div.wait {
	margin-right: 0;
	margin-left: 0;
	padding: 5px 20px;
	margin-bottom: 1px;
	background: #e5eaec;
	box-shadow: inset 0 7px 7px -2px rgba(0, 0, 0, .2);
	color: #FF7E00;
	font-size: 13px;
	line-height: 1.25;
}

.wait b,.wait.span {
	display: block;
}

.wait span {
	color: red;
	font-size: 12px;
}

.route .depart,.route .arrive {
	padding-top: 7px;
	padding-bottom: 7px;
}

.route .depart {
	background: #f2f3f4;
}

.passengers ul {
	list-style: none;
	margin: 0 15px;
	padding: 0;
}

.passengers li {
	padding-right: 10px;
	line-height: 1;
	margin: 8px 0;
	position: relative;
}

.passengers li b {
	display: block;
	color: #ff7e00;
}

li[class^="pass"]:after {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 18px;
	height: 18px;
	background: url(i/sprite.png) -15px 0 no-repeat;
	content: "";
}

li.pass-ok:after {
	background-position: 0 -85px;
}

li.pass-alert:after {
	background-position: 0 -103px;
}

/* ************ */
.header {
	font-size: 18px;
	color: #257aa5;
	line-height: 31px;
	vertical-align: middle;
	margin: 7px 0 18px 12px;
	padding-left: 38px;
	vertical-align: baseline;
	background: url(i/sprite.png) -69px -121px no-repeat;
}

.header small {
	display: inline-block;
	line-height: 16px;
	border: 0;
	border-left: 1px dotted;
	margin-left: 6px;
	padding-left: 6px;
	line-height: 16px;
}

.book-tickets label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
}

.book-tickets input+label {
	text-transform: none;
}

.book-tickets h2 {
	font-size: 16px;
	line-height: 18px;
	margin: 12px 0 12px 8px;
	padding-left: 32px;
	background: url(i/sprite.png) -100px 0 no-repeat;
	color: #056696;
	position: relative;
	z-index: 1;
}

.book-tickets .book-passengers h2 {
	margin-bottom: 0;
}

.book-tickets h2:before {
	display: block;
	position: absolute;
	content: "";
	height: 8px;
	width: 595px;
	top: 0;
	border-bottom: 2px solid #056696;
	z-index: -1;
}

.book-passengers h2 {
	background-position: 0 -152px;
}

.book-insurance h2 {
	background-position: 0 -170px;
}

.book-recipient h2 {
	background-position: 0 -188px;
}

.book-insurance h2,.book-recipient h2 {
	
}

.book-tickets h2 b {
	padding-right: 8px;
	background: #fff;
}

.book-tickets h2 em {
	color: #0066cc;
	font-size: 14px;
	font-style: normal;
	border-bottom: 1px dotted;
	background: #fff;
	border-bottom: 1px dotted;
}

.book-tickets h2 strong {
	color: #ff7e00;
	border-bottom-color: transparent;
	background: #fff;
}

.book-tickets h2 span {
	display: inline-block;
	float: right;
	background: #fff;
	padding: 0 8px;
}

.book-passengers article {
	padding: 20px 0;
}

.book-tickets .control-group {
	margin: 0 17px;
}

.book-passengers h3,.payment-details h3 {
	color: #ff7e00;
	font-size: 14px;
	line-height: 20px;
	margin: 0 17px;
}

.book-tickets input,.book-tickets select {
	display: block;
}

.error,.error input,.error label,.error select {
	color: red !important;
}

.control-group {
	margin-bottom: 4px;
}

.controls {
	display: block;
	float: left;
	margin-right: 10px;
	padding-right: 14px;
	min-height: 64px;
}

.controls span {
	display: block;
	font-size: 12px;
	line-height: 1.1;
	font-size: 12px;
	width: 100%;
}

.controls label span {
	display: inline;
}

.control-group.line3 .controls {
	min-height: 35px;
}

.control-group.line3 select,.control-group.line3 input {
	display: inline-block;
}

.controls input,.controls select {
	width: 100%;
}

.control-group.line3 select {
	margin: 0 15px 0 10px;
	width: 180px;
}

.control-group.line3 label {
	margin-right: 15px;
}

.control-group .controls:last-child {
	margin-right: 0;
}

.line3 .controls {
	padding-right: 0;
}

input[type="checkbox"],input[type="radio"] {
	display: none !important;
}

input[type="checkbox"]+label,input[type="radio"]+label {
	display: inline-block;
	line-height: 1;
	height: 15px;
	margin: 0 !important;
	cursor: pointer;
	vertical-align: middle;
	color: #444;
	cursor: pointer;
}

.radio-group label {
	font-size: 13px;
	font-weight: bold;
	text-transform: none;
}

.radio-group input+label {
	width: 43px;
}

input[type="checkbox"]+label::before,input[type="radio"]+label::before {
	content: "";
	display: inline-block;
	height: 15px;
	width: 15px;
	margin: 0 5px 0 0;
	background-image: url(i/sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

input[type="checkbox"]+label::before {
	background-position: -15px -206px;
}

input[type="radio"]+label::before {
	background-position: -45px -206px;
}

input[type="checkbox"]:checked+label::before {
	background-position: 0 -206px;
}

input[type="radio"]:checked+label::before {
	background-position: -30px -206px;
}

.error input[type="checkbox"]+label::before {
	background-position: -15px -206px;
}

.error input[type="radio"]+label::before {
	background-position: -75px -206px;
}

.error input[type="checkbox"]:checked+label::before {
	background-position: 0 -206px;
}

.error input[type="radio"]:checked+label::before {
	background-position: -60px -206px;
}

.radio-group {
	height: 20px;
	padding: 5px 0;
}

[class*="name-"] {
	width: 164px;
}

input[id*="card-number"] {
	width: 166px;
}

[class*="date-"] {
	width: 104px;
}

[class*="doc-number"] {
	width: 196px;
}

[class*="citizen"] {
	width: 246px;
}

.insurace-policy {
	
}

.insurance-description {
	float: left;
	width: 485px;
	margin-left: 17px;
}

.insurance-description ul {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
}

.insurance-description ul li {
	padding-left: 20px;
	position: relative;
	font-size: 13px;
	line-height: 24px;
}

.insurance-description ul li:before {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 8px;
	height: 20px;
	background: url(i/sprite.png) 0 -33px no-repeat;
	content: "";
}

.insurance-description input+label {
	font-size: 12px;
	text-transform: uppercase;
}

.book-insurance {
	padding-bottom: 20px;
}

.book-insurance a {
	text-decoration: underline;
	margin-bottom: 10px;
}

.book-insurance h3 {
	font-size: 12px;
	line-height: 20px;
	margin: 10px 17px;
	text-transform: uppercase;
}

.book-tickets p {
	margin: 0 17px;
	line-height: 18px;
}

.insurance-price {
	margin: 0 20px;
}

.insurance-price {
	font-size: 13px;
	line-height: 19px;
}

.insurance-price span,.insurance-price strong,.insurance-price a {
	display: block;
}

.insurance-price strong {
	color: #ff7e00;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

.receipt .clearfix {
	margin-left: 17px;
}

.receipt .rec-type label {
	padding-right: 60px;
}

.rec-contacts .controls {
	width: 180px;
}

.payment {
	background: #fae7d4;
	padding-bottom: 15px;
}

.payment-details {
	position: relative;
}

[class^="pdetails-"] {
	display: none;
}

.payment-details .active {
	display: block;
}

.payment-type .btn {
	display: inline-block;
	width: 127px;
	height: 20px;
	padding: 10px 0 10px 31px;
	margin-right: 10px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, .2) 11%, rgba(0, 0, 0, .2) 89%) 0 0 repeat-x;;
	background-color: #fff; border-radius : 2px;
	border: 1px solid #eed0b4;
	box-shadow: inset 0 2px 32px rgba(255, 255, 255, .5), 0 1px 1px rgba(0, 0, 0, .4); position : relative;
	font-weight: bold;
	position: relative;
	border-radius: 2px;
}

.payment-type .btn:hover,.payment-type .btn:hover {
	background: #fff linear-gradient(to bottom, rgba(0, 0, 0, .2) 11%, rgba(255, 255, 255, .2) 89%) 0 0 repeat-x;;
	box-shadow: inset 0 2px 6px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .9);
}

.payment-type .btn:active {
	top: 1px;
}

.payment-type .btn:before {
	display: block;
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	left: 10px;
	top: 13px;
	background: url(i/sprite.png) -45px -206px no-repeat;
}

.payment-type .btn.active:before {
	background-position: -30px -206px;
}

.payment-type .btn:after {
	display: block;
	position: absolute;
	left: 28px;
	top: 10px;
	content: "";
	width: 25px;
	height: 23px;
	background-image: url(i/sprite.png);
	background-repeat: no-repeat;
}

.payment-type .btn.payment-visa:after {
	background-position: -34px -68px;
}

.payment-type .btn.payment-ib:after {
	background-position: -34px -91px;
}

.payment-type .btn.payment-office:after {
	background-position: -34px -114px;
}

.payment-type .btn.payment-hand:after {
	background-position: -34px -137px;
}

.payment-type .btn span {
	display: inline-block;
	font-size: 14px;
	color: #257aa5;
	border-bottom: 1px dotted;
	line-height: 20px;
	height: 18px;
	position: relative;
	letter-spacing: -0.01em;
}

.payment-internet,.payment-cash {
	padding: 10px 0;
	margin: 0 23px;
	line-height: 40px;
}

.payment-type b {
	display: inline-block;
	font-size: 14px; line-height : 1; width : 219px;
	vertical-align: middle;
	padding-left: 18px;
	width: 219px;
	line-height: 1; width : 219px; vertical-align : middle; padding-left : 18px;
	background: url(i/sprite.png) -87px 1em no-repeat;
}

.payment-internet {
	border-bottom: 1px solid #fff;
}

.payment-cash {
	border-top: 1px solid #999;
}

.payment-internet b {
	background-position: -87px 0px;
}

.payment-cash b {
	background-position: -87px -14px;
}

.payment-details .controls {
	min-height: 0;
}

.control-group.addr .controls {
	width: 183px;
}

.control-group .build {
	width: 58px;
}

.control-group .office {
	width: 106px;
}

.control-group .ph-num {
	width: 225px;
}

.pdetails-visa .type1{
	float:right;
	margin:10px 0;
}
.pdetails-visa .controls, .pdetails-ib .controls {
	display: block;
	float: none;
	margin-bottom: 9px;
	padding: 0;
}

.back-card,.face-card {
	width: 285px;
	height: 138px;
	padding: 50px 9px 0 9px;
	background: url(i/card_bg.png) 0 0 no-repeat;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	*zoom: 1;
}

.back-card {
	background-position: 0 -193px;
}

.face-card {
	
}

.card-number label {
	display: block;
}

.face-card input {
	width: 51px;
	display: inline-block;
}

.payment-details label {
	font-size: 14px;
}

.pdetails-hand  label {
	font-size: 12px;
}

.card-valid label {
	width: 46px;
	margin-bottom: 0;
	vertical-align: middle;
}

.card-holder input {
	width: 261px;
}

.back-card .card-cvv {
	margin-left: 217px;
}

.back-card .card-value {
	margin-left: 115px;
}

.back-card .card-value label {
	width: 68px;
	display: inline-block;
	vertical-align: middle;
}

.back-card .card-value select {
	display: inline-block;
	width: 64px;
	vertical-align: middle;
}

#card-cvv {
	width: 52px;
}

[class^="pdetails-"] {
	padding: 10px 0;
}

.pdetails-office {
	padding:10px 17px;
}
.pd-office .controls{
	width:232px;
}
.payment-details .btn{
	margin-top:20px;
}
#maps{
	float:right;
	padding:0 0 15px 55px;
}

.pay-confirm{
	width:640px;
	height:141px;
	margin-left:310px;
	position:relative;
}

.tr-check{
	background:url(i/bg-check.png) 0 0 no-repeat;
	width:608px;
	height:96px;
	position:absolute;
	top:12px;
	left:6px;
	padding:15px 10px;
	z-index:5;
	font-size:12px;
	font-weight:bold;
	line-height:18px;
}

.tr-check p{
	padding-left:60px;
	margin-left:25px;
	background:url(i/sprite.png) -75px -221px no-repeat;
}
.pay-confirm:before,.pay-confirm:after{
	position:absolute;
	display:block;
	content:"";
	border-radius:10px;
	border:2px solid #c8c8c8;
	box-shadow:0 1px 2px rgba(255,255,255,.8), inset 0 1px 2px  rgba(0,0,0,.2);
	z-index:1;
}
.pay-confirm:before{
	background:rgba(255,255,255,.4);
	width:640px;
	height:10px;
	top:5px;
	left:0;
}

.pay-confirm:after{
	width:634px;
	height:2px;
	top:9px;
	left:3px;;
}

.pay-summa{
	width:274px;
	height:43px;
	border-radius:25px;
	background:#fff linear-gradient(to bottom, rgba(255,255,255,.1) 3%, rgba(0,0,0,.1) 97%);
}
.pay-summa a{
	border-radius:20px;
	background: linear-gradient(to bottom, #ffb400, #ff3300);
	box-shadow:0 1px 3px rgba(0,0,0,.3), inset 0 1px 2px rgba(255,255,255,.5);
	text-shadow: 0 1px rgba(255,255,255,.4);
	color:#873b00;
	font-size:22px;
	font-weight:bold;
	width:70px;
	height:34px;
	display:inline-block;
	line-height: 34px;
	vertical-align: middle;
	text-align:center;
	padding-left:55px;
	position:relative;
	border:1px solid transparent;
	background-origin: border-box;	
}

.pay-summa a:before{
	display:block;
	position:absolute;
	top: 4px;
	left:0;
	width:53px;
	height:27px;
	content:"";
	background:url(i/sprite.png) -60px -152px no-repeat;
	border-right: 2px dotted #8f3d00;
}

.pay-summa a:focus, .pay-summa a:hover{
	text-decoration: none;
}
.pay-summa a:active{
	border-color: #e68a33;
	box-shadow:0 0 10px #ff6000;
	background: linear-gradient(to bottom, #e7e7e6, #565655);
}